* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-shadow: 5px 5px lightgray;
}

#salad {
    height: 300px;
    width: 300px;
}

h2 {
    text-decoration: underline wavy;
}

p {
    width: 25em;
}

ul {
    background-color: lightgrey;
    width: 25em;
}

ol {
    background-color: lightgray;
    width: 25em;
}