* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: lightcyan;
    width: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 70px;
    width: 500px;
}

a {
    color: red;
}

#png {
    height: 550px;
    width: 500px;
}